<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Summary</title>
</head>
<body>

<h1>Hello</h1>

<div align="center">
    <h1>Product manager</h1>
    <a href="new">Create New Product</a>
    <table>
        <thead>
         <tr>
             <th>Product ID</th>
             <th>Name</th>
             <th>Brand</th>
             <th>Made In</th>
             <th>Price</th>
             <th>Actions</th>
         </tr>
        </thead>
        <tbody>
        <tr th:each="product :${listproducts}">
            <td th:text="${product.id}">Product Id</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>